

#container {
    display: grid;
    
}

.grid-item {
    border: solid black;
    height: 75px;
    width: 75px;
}

.grid-item:hover { 
    /* changes div's background color on hover */
    background-color: aqua;
}