

#container {
    display: grid;
    width: 1000px;
    height: 1000px;
}

.grid-item {
    border: solid black;

}

.grid-item:hover { /* changes div's background color on hover */
    
    background-color: aqua;
 }